@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --backgroundColor: #FFFFFFFF;
    --primaryColor: #00916E;
    --secondaryColor: #f5fbf6;
    --primaryFontColor: #171D1A;
    --secondaryFontColor: #404944;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.content-body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--backgroundColor);
}

.next-app {
    height: 100%;
}