.primary-color {
    background-color: var(--primaryColor);
}

.primary-color-text {
    color: var(--primaryColor);
}

.primary-font-color {
    color: var(--primaryFontColor);
}

.secondary-font-color {
    color: var(--secondaryFontColor);
}