.project-wizard-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-wizard-title-and-message {
    max-width: 680px;
}

.project-wizard-title {
    text-align: center;
}

.project-wizard-message {
    text-align: center;
}