.learn-gragle {
    height: 100%;
    display: flex;
}

.learn-gragle-primary-navigation {
    height: 100%;
    width: 22%;
}

.article-content {
    height: 100%;
    width: 58%;
}

.learn-gragle-secondary-navigation {
    width: 22%;
}

.article-heading-and-overview {
    padding: 40px 0 20px 0;
}

.article-body-section {
    padding: 20px 0;
}

.highlighted-content {
    background-color: var(--border-color);
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 4px;
}

.body-list {
    padding-left: 20px;
}

@media (max-width: 650px) {
    .learn-gragle-primary-navigation, .learn-gragle-secondary-navigation {
        display: none;
    }

    .article-content {
        width: 100%;
        padding: 0 20px;
    }
}